<ul>
	<% navbar.forEach(function (nav,index) { %>
	<% if(index != 0) { %>
	<li class="sep"> | </li>
	<% } %>
	<li><a href="<%= nav.href %>" target="<%= nav.target %>"><%= nav.label %></a></li>
	<% }) %>
</ul>